body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; /* Fonte mais moderna */
  background-color: #f9f9f9; /* Cor de fundo mais suave */
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.search-container {
  width: 100%;
  padding: 20px 0; /* Aumenta o espaço ao redor do container de pesquisa */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#filtroPlaca {
  width: 100%;
  max-width: 650px;
  padding: 15px; /* Aumenta o espaçamento interno */
  margin: 10px auto;
  font-size: 16px;
  border: none; /* Remove a borda para um visual mais limpo */
  border-radius: 50px; /* Ajusta o raio do border-radius para uma forma mais arredondada */
  box-sizing: border-box;
  text-align: center;
}

.placa-text {
  margin-left: 0; /* Remove o deslocamento do texto */
  font-size: 20px; /* Aumenta o tamanho da fonte para destacar */
  font-weight: bold;
  transition: margin 0.3s ease;
}

.placas-container {
  width: 100%;
}

.placa-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0; /* Aumenta o espaço entre os itens */
  padding: 15px; /* Aumenta o espaçamento interno */
  background-color: #ffffff;
  border-radius: 10px; /* Aumenta o raio da borda para uma aparência mais moderna */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta a sombra para uma aparência mais sutil */
  transition: background-color 0.3s ease;
}

.placa-item:hover {
  background-color: #f3f3f3; /* Altera a cor de fundo no hover */
}